{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- General Info -->
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card card-body border-0 shadow mb-4">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="h5 mb-4">General information</h2>
          </div>
          <div class="col text-end">
            <a href="{% url 'accounts:reset_password' %}" class="btn btn-sm btn-primary">Reset Password</a>
          </div>
        </div>

        <form method="post" action="{% url 'task_manager:member_update' worker.pk %}">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="row">
            <div class="col-md-6 mb-3">
              {{ form.first_name.label_tag }}
              {{ form.first_name }}
              {{ form.first_name.errors }}
            </div>
            <div class="col-md-6 mb-3">
              {{ form.last_name.label_tag }}
              {{ form.last_name }}
              {{ form.last_name.errors }}
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-md-6 mb-3">
              {{ form.birthday.label_tag }}
              {{ form.birthday }}
              {{ form.birthday.errors }}
            </div>
            <div class="col-md-6 mb-3">
              {{ form.male.label_tag }}
              {{ form.male }}
              {{ form.male.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.email.errors }}
            </div>
            <div class="col-md-6 mb-3">
              {{ form.phone.label_tag }}
              {{ form.phone }}
              {{ form.phone.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              {{ form.position.label_tag }}
              {{ form.position }}
              {{ form.position.errors }}
            </div>
          </div>

          <!-- Save All & Delete Profile Button -->
          <div class="d-flex justify-content-between">
            <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save all</button>

            <a class="btn btn-danger mt-2 animate-up-2 ms-auto"
               href="{% url 'task_manager:member_delete' pk=worker.pk %}">
              Delete Profile
            </a>
          </div>
        </form>
      </div>
    </div>


    <!-- Profile Info -->
    <div class="col-12 col-xl-4">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card shadow border-0 text-center p-0">
            <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
            <div class="card-body pb-5">
              <img src="/static/assets/img/team/profile-picture-2.jpg"
                   class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Member Portrait">
              <h4 class="h3">
                {{ request.user.first_name }} {{ request.user.last_name }}
              </h4>
              <h5 class="fw-normal">
                {{ request.user.username }}
              </h5>
              <p class="text-gray mb-4">
                {{ request.user.email }}
              </p>
              <a class="btn btn-gray-800 mt-2 animate-up-2" href="#">Change Photo</a>
              <a class="btn btn-gray-800 mt-2 animate-up-2" href="#">Change Background</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
