{% extends "layouts/base.html" %}

{% block title %} Delete Task {% endblock %}

{% block stylesheets %}
  <style>
      .delete-section {
          padding-top: 15vh;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  
  <main>
    
    <!-- Deleting form -->
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex delete-section">
      <div class="container">
        <div class="row justify-content-center form-bg-image">
          <p class="text-center">
            <a href="{% url 'task_manager:task_detail' task.pk %}" class="d-flex align-items-center justify-content-center">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
              </svg>
              Back to Task
            </a>
          </p>
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="delete-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
              <h1 class="h3 text-center text-danger fw-bold">Confirm Deletion</h1>
              <p class="mb-4 text-center">
                <span class="d-block mb-2">You are about to permanently delete the task:</span>
                <strong class="d-block fs-4 text-primary mb-2">“{{ object.name }}”</strong>
                <span class="text-warning">This action cannot be undone.</span>
              </p>

              <!-- Confirmation & Cancel Buttons -->
              <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-2 mt-3">
                  <button type="submit" class="btn btn-danger">Confirm Delete</button>
                  <a href="{% url 'task_manager:task_detail' object.pk %}" class="btn btn-gray-800">Cancel</a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
